{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('task_index') }}">{{ 'app.name'|trans }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('task_index') }}">{{ 'label.task_list'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('note_index') }}">{{ 'label.note_list'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('category_index') }}">{{ 'label.category_list'|trans }}</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user_index') }}">{{ 'label.user_list'|trans }}</a>
            </li>
            {% endif %}
            {% if app.user %}
                <li class="dropdown nav-item">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ app.user.email }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-item" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="{{ path('user_email_edit') }}">{{ 'action.edit_email'|trans }}</a>
                    </li>
                    <li class="dropdown-item" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="{{ path('user_password_edit') }}">{{ 'action.edit_password'|trans }}</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="{{ path('app_logout') }}">{{ 'action.logout'|trans }}</a>
                    </li>
                </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">{{ 'action.login'|trans  }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
