{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_details'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.task_details'|trans({'%id%': task.id|default('')}) }}</h1>
    {% if task is defined and task|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ task.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ task.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ task.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  task.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  task.category.id }}</dd>
            <dd>{{  task.category.title }}</dd>
        </dl>
        <p>
            <a href="{{ url('task_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a><br>
            {% if is_granted('ROLE_ADMIN') %}
                <a type="button"
                   class="btn btn-info my-1"
                   href="{{ url('task_edit', {id: task.id}) }}"
                   title="{{ 'action.edit'|trans }}"
                >
                    {{ 'action.edit'|trans }}
                </a><br>
                <a type="button"
                   class="btn btn-danger my-1"
                   href="{{ url('task_delete', {id: task.id}) }}"
                   title="{{ 'action.delete'|trans }}"
                >
                    {{ 'action.delete'|trans }}
                </a><br>
            {% endif %}
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}